.g-hd{background:url('http://m1.img.srcdd.com/farm5/d/2014/1014/22/88656747FE83606072449ECFF144335A_LARGE_1200_800.jpeg') no-repeat;background-size:100% 100%;}

.g-hd{height:370px;padding:260px 0 0;}
.g-hd .m-sch{margin:0 auto;}
.g-box2{background:#FBFAF7;}

.m-intro{width:1000px;margin:0 auto;padding:15px 0;}
.m-intro .item{float:left;width:235px;padding:0 0 0 45px;margin:0 50px 0 0;background-position:5px -540px;}
.m-intro .item p{margin:5px 0 0;line-height:1.5;}
.m-prolist ul{margin-right:-20px;}
.m-prolist li{float:left;width:320px;margin:0 20px 30px 0;border-radius:6px;overflow:hidden;}
.m-prolist a,.m-prolist img{position:relative;display:block;height:240px;}
.m-prolist .tit{position:absolute;right:10px;bottom:10px;font-size:24px;text-align:right;line-height:1.2;}
.m-prolist-1 a{margin:0 0 15px;}
.m-banner-1{margin:120px 0 0;}


